body {
  background-image: url("/public/Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trending {
  margin-bottom: 100px;
}

.greet {
  margin: 4rem 0;
  text-align: center;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipeContainer {
  margin-bottom: 16%;
  width: 95%;
}

@media (max-width: 820px) {
  .searchContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .recipeContainer {
    margin-bottom: 35%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .recipeContainer {
    margin-bottom: 58%;
    width: 100%;
  }
}
