.trending {
  margin-bottom: 100px;
}
h1 {
  margin: 4rem 0;
}
.greet {
  margin-top: 4rem;
  text-align: center;
}
a {
  font-size: 1.2rem;
  text-decoration: none;
}
.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 600px) {
  .searchContainer {
    display: flex;
    flex-direction: column-reverse;
  }
}
