body {
  background-image: url("../../assets/Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trending {
  margin-bottom: 100px;
}

.greet {
  margin: 4rem 0;
  text-align: center;
}
a {
  font-size: 1.2rem;
  text-decoration: none;
}
.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .searchContainer {
    display: flex;
    flex-direction: column-reverse;
  }
}
