/* single meals styles */

.pageWrapper {
  padding: 10rem 0;
}

ul {
  list-style: none;
  padding-left: 0px;
}
li {
  list-style-type: circle;
  margin-left: 10px;
}

a {
  color: #1976d2;
}

.diets {
  display: flex;
}
.squareVeg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 85px;
  border-radius: 5%;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 80%;
}
