/* single meals styles */

.pageWrapper {
  padding: 10rem 0;
}

.ingredientsList {
  list-style-type: circle;
  margin: 0 0 10px 10px;
}
.recipeLink a {
  color: #1976d2;
}
.diets {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.squareVeg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  height: 60px;
  width: 85px;
  border-radius: 5%;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 80%;
}
@media (max-width: 600px) {
  .recipeLink a {
    font-size: 0.7rem;
    color: #1976d2;
  }
}
