.error-msg {
  background-color: red;
  margin: 16px;
  color: white;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
}
.underline {
  text-decoration: underline;
  color: blue;
}
.underline:hover {
  cursor: pointer;
}
